@import "tailwindcss";

@theme {
  --color-primary: #E76F51;
  --color-accent: #F4A261;
  --color-bg: #FFF7E6;
  --color-surface: #FFF1D6;
  --color-surface-light: #FFE7B3;
  --color-text: #3A2D1F;
  --color-text-muted: #7A5C3D;
}
